<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT neshto ANY>
<!ATTLIST neshto id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1063" key="59449fe2-3d02-4864-9966-934700a1a6c0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-13T20:28:20" updateDate="2016-10-28T23:46:26" nodeName="Homepage" urlName="homepage" path="-1,1063" isDoc="" nodeType="1050" creatorName="mariya" writerName="mariya" writerID="0" template="1049" nodeTypeAlias="homePage">
    <metaKeywords><![CDATA[home page]]></metaKeywords>
    <metaDescription><![CDATA[Homepage]]></metaDescription>
    <content><![CDATA[<p><strong>HEY THERE!!</strong></p>
<p> </p>
<p><strong><img style="width: 500px; height:379.1666666666667px;" src="/media/1006/1368332b9f88eee0c59b405ef151199a.jpg?width=500&amp;height=379.1666666666667" alt="" rel="1096" data-id="1096" /></strong></p>]]></content>
    <title><![CDATA[Welcome to the home page!]]></title>
    <articlesMain id="1064" key="3517ef02-0c4c-4611-8cb3-e8a908120328" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-10-13T20:31:39" updateDate="2016-10-21T18:16:32" nodeName="Articles" urlName="articles" path="-1,1063,1064" isDoc="" nodeType="1056" creatorName="mariya" writerName="mariya" writerID="0" template="1055" nodeTypeAlias="articlesMain">
      <articlesBodyText><![CDATA[<p>Hiiii</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesItem id="1065" key="c9951f71-4822-441a-bcbc-b0b3b4ea3cee" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2016-10-13T20:32:06" updateDate="2016-10-13T20:32:17" nodeName="The first article" urlName="the-first-article" path="-1,1063,1064,1065" isDoc="" nodeType="1054" creatorName="mariya" writerName="mariya" writerID="0" template="1053" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[This is the first article published here]]></articleTitle>
        <articleContents><![CDATA[<p>Hola</p>]]></articleContents>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1068" key="b061e89d-7089-480b-a92f-fa5a271cbbc2" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-10-14T14:42:05" updateDate="2016-10-14T14:42:05" nodeName="Projects" urlName="projects" path="-1,1063,1068" isDoc="" nodeType="1060" creatorName="mariya" writerName="mariya" writerID="0" template="1059" nodeTypeAlias="projectsMain">
      <projectsBodyText><![CDATA[<p>Here you can see AAALL of the projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[All of the projects!]]></projectsTitle>
      <projectsItem id="1088" key="4aee2a51-60ba-4ace-b389-7a1ce53f758a" parentID="1068" level="3" creatorID="0" sortOrder="0" createDate="2016-10-28T22:22:54" updateDate="2016-10-28T22:22:54" nodeName="Please Don't Fail me" urlName="please-dont-fail-me" path="-1,1063,1068,1088" isDoc="" nodeType="1058" creatorName="mariya" writerName="mariya" writerID="0" template="1057" nodeTypeAlias="projectsItem">
        <projectDescription><![CDATA[<p>I promise I'll do better with Drupal!</p>
<p> </p>
<p> </p>
<p><img style="width: 500px; height:332.4958123953099px;" src="/media/1003/b27dd4062b19920cb89bd963765318e3011d00f29362fa3cda23aa6d651b1c26.jpg?width=500&amp;height=332.4958123953099" alt="" rel="1087" data-id="1087" /></p>]]></projectDescription>
        <status><![CDATA[Idea]]></status>
        <projectTitle><![CDATA[Please don't fail me]]></projectTitle>
      </projectsItem>
      <projectsItem id="1090" key="fc315ad9-5809-4524-9a42-e10f10e0ce33" parentID="1068" level="3" creatorID="0" sortOrder="1" createDate="2016-10-28T22:24:33" updateDate="2016-10-28T22:24:49" nodeName="Passing UMBRACO MA 1 - my current and only goal in life" urlName="passing-umbraco-ma-1-my-current-and-only-goal-in-life" path="-1,1063,1068,1090" isDoc="" nodeType="1058" creatorName="mariya" writerName="mariya" writerID="0" template="1057" nodeTypeAlias="projectsItem">
        <projectDescription><![CDATA[<p><img style="width: 500px; height: 288.8157894736842px;" src="/media/1004/job-satisfaction.jpg?width=500&amp;height=288.8157894736842" alt="" rel="1089" data-id="1089" /></p>]]></projectDescription>
        <status><![CDATA[Initiated]]></status>
        <projectTitle><![CDATA[Passing UMBRACO MA 1 - my current and only goal in life]]></projectTitle>
      </projectsItem>
      <projectsItem id="1092" key="699fdff3-ccba-4f51-ae4e-20255970ee94" parentID="1068" level="3" creatorID="0" sortOrder="2" createDate="2016-10-28T22:39:47" updateDate="2016-10-28T22:39:47" nodeName="Me when I pass the Umbraco assignment" urlName="me-when-i-pass-the-umbraco-assignment" path="-1,1063,1068,1092" isDoc="" nodeType="1058" creatorName="mariya" writerName="mariya" writerID="0" template="1057" nodeTypeAlias="projectsItem">
        <projectDescription><![CDATA[<p>This is what i will look like when i finally pass the mandatory assignment:<br /><br /><img style="width: 400px; height:298px;" src="/media/1005/motivating-employees.jpg?width=400&amp;height=298" alt="" rel="1091" data-id="1091" /></p>]]></projectDescription>
        <status><![CDATA[Completed]]></status>
        <projectTitle><![CDATA[Me when I pass the Umbraco assignment]]></projectTitle>
      </projectsItem>
    </projectsMain>
    <about id="1084" key="c10c8a6b-4192-4cde-822b-6500ae2925a7" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-10-28T20:08:42" updateDate="2016-10-28T22:13:51" nodeName="Abaut" urlName="abaut" path="-1,1063,1084" isDoc="" nodeType="1082" creatorName="mariya" writerName="mariya" writerID="0" template="1081" nodeTypeAlias="about">
      <aboutgrid><![CDATA[{
  "name": "3 columns",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "Some people have a vision. I don't.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "15231766-91a5-ba27-10cd-a5147666e7f8",
          "active": false
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>People are strange when you're a stranger, faces look ugly when you're alone.<iframe width=\"320\" height=\"240\" src=\"https://www.youtube.com/embed/GJY8jJkDoMY?feature=oembed\" frameborder=\"0\" allowfullscreen=\"\"></iframe></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "6e81676c-778e-a835-0fbe-f5eb39a668d8",
          "active": false
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1086,
                    "image": "/media/1002/job-interviewer-so-tell-me-what-special-skills-you-have-2788791.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "76effade-c907-1c1d-314a-3c75dd21ee12",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutgrid>
      <aboutTitle><![CDATA[Abautas]]></aboutTitle>
    </about>
    <textPage id="1094" key="377d2bed-c639-4707-a9af-c47b46576c1f" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2016-10-28T23:39:10" updateDate="2016-10-28T23:39:33" nodeName="Login" urlName="login" path="-1,1063,1094" isDoc="" nodeType="1052" creatorName="mariya" writerName="mariya" writerID="0" template="1085" nodeTypeAlias="textPage" />
    <textPage id="1095" key="90033a4f-f9bd-4766-8679-a32894f294d1" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2016-10-28T23:42:45" updateDate="2016-10-31T11:21:03" nodeName="forbidden" urlName="forbidden" path="-1,1063,1095" isDoc="" nodeType="1052" creatorName="mariya" writerName="mariya" writerID="0" template="1051" nodeTypeAlias="textPage">
      <textpagetext><![CDATA[<p>LOGIN!</p>]]></textpagetext>
      <textpagetitle><![CDATA[FORBIDDEN ACCESS]]></textpagetitle>
      <umbracoNaviHide>1</umbracoNaviHide>
    </textPage>
    <members id="1099" key="8d0d79cd-71d7-4564-b8d2-8c2905f34b95" parentID="1063" level="2" creatorID="0" sortOrder="6" createDate="2016-10-31T11:15:28" updateDate="2016-10-31T12:04:19" nodeName="members" urlName="members" path="-1,1063,1099" isDoc="" nodeType="1098" creatorName="mariya" writerName="mariya" writerID="0" template="1097" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <textPage id="1102" key="76c958fe-3a92-4b89-8e79-0b43103508c5" parentID="1063" level="2" creatorID="0" sortOrder="7" createDate="2016-11-12T22:32:07" updateDate="2016-11-12T22:32:07" nodeName="Message Board" urlName="message-board" path="-1,1063,1102" isDoc="" nodeType="1052" creatorName="mariya" writerName="mariya" writerID="0" template="1101" nodeTypeAlias="textPage">
      <textpagetitle><![CDATA[Message Board]]></textpagetitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <master id="1103" key="4ccf7b55-78a5-4df6-bbfa-1dc675adb4f5" parentID="1102" level="3" creatorID="0" sortOrder="0" createDate="2016-11-13T11:28:00" updateDate="2016-11-13T11:28:00" nodeName="aaa" urlName="aaa" path="-1,1063,1102,1103" isDoc="" nodeType="1048" creatorName="mariya" writerName="mariya" writerID="0" template="0" nodeTypeAlias="master">
        <metaKeywords><![CDATA[aaa]]></metaKeywords>
      </master>
      <master id="1104" key="d8a397a2-ffc3-496b-81e9-2ba614e42008" parentID="1102" level="3" creatorID="0" sortOrder="1" createDate="2016-11-13T11:28:56" updateDate="2016-11-13T11:28:56" nodeName="my name is" urlName="my-name-is" path="-1,1063,1102,1104" isDoc="" nodeType="1048" creatorName="mariya" writerName="mariya" writerID="0" template="0" nodeTypeAlias="master">
        <metaKeywords><![CDATA[my name is]]></metaKeywords>
      </master>
      <master id="1105" key="9c2b115d-ede8-48fc-8c3f-94b1f04064fd" parentID="1102" level="3" creatorID="0" sortOrder="2" createDate="2016-11-13T14:05:14" updateDate="2016-11-13T14:05:14" nodeName="my name is (1)" urlName="my-name-is-1" path="-1,1063,1102,1105" isDoc="" nodeType="1048" creatorName="mariya" writerName="mariya" writerID="0" template="0" nodeTypeAlias="master">
        <metaKeywords><![CDATA[my name is]]></metaKeywords>
      </master>
    </textPage>
  </homePage>
  <neshto id="1079" key="193d93f2-7430-4314-b64a-7dc0086112e0" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-10-28T18:22:21" updateDate="2016-10-28T18:22:21" nodeName="fdhtdfgf" urlName="fdhtdfgf" path="-1,1079" isDoc="" nodeType="1078" creatorName="mariya" writerName="mariya" writerID="0" template="1077" nodeTypeAlias="neshto">
    <nasko><![CDATA[hi]]></nasko>
  </neshto>
  <about id="1083" key="4ccfcd15-b054-4b52-8df8-970fae96d9ff" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2016-10-28T19:54:06" updateDate="2016-10-28T19:55:17" nodeName="About us" urlName="about-us" path="-1,1083" isDoc="" nodeType="1082" creatorName="mariya" writerName="mariya" writerID="0" template="1081" nodeTypeAlias="about">
    <aboutgrid><![CDATA[{
  "name": "3 columns",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Will i am and britney bitch</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d97e5cb4-5ca6-fd3a-5676-bfed7eceb9bc"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Peoples",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "ПИПАЛИТЕ",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "ed6e6bfe-165f-6dfb-73ea-7072928d2cd9",
          "active": false
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>НЕТЕПИПА</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "9488f57c-340a-fff1-7745-7caba9ab7eaf",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutgrid>
    <aboutTitle><![CDATA[About us]]></aboutTitle>
  </about>
</root>