@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


<div class="container">
	<div class="row">
		<header class="page-header">
			<h1 class="page-title">Contact us!</h1>
			
		</header>
	</div>
	<div class="row">
		<div class="col-lg-6">
			@Html.Action("Index", "ContactFormSurface")
		</div>
	</div>
</div>