@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
<h1>@Umbraco.Field("projectTitle")</h1>
<h2>Status:@Umbraco.Field("status")</h2>	
<div>
@Umbraco.Field("projectDescription")
</div>
	

	</div>
	